input#searchBar {
    background-color: transparent !important;
}

th.el-table_1_column_1.is-leaf {
    display: none;
}
.el-table {
    background-color: transparent !important;
}

.el-table th, .el-table tr {
    background-color: transparent !important;
}

.el-table td, .el-table th.is-leaf {
    border: none !important;
}

.el-table::before {
    height: 0px !important;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #26395b !important;
}

.el-table__body tr.current-row>td {
    background-color: #26395b !important;
}

.left-list-header {
    color: #fff;
    font-weight: 600;
}

.left-list-sub {
    color: rgba(255, 255, 255, 0.77);
    font-size: 12px;
    line-height: 18px;
}

.flag-container {
    display: inline-block;
    float: right;
    /* background-color: red; */
    /*overflow: hidden;*/
    /*width: 30px !important;*/
    /*height: 21px !important;*/
}


label#id-1 span {
    color: #b8e986 !important;
}

label#id-2 span {
    color: #b5e5fe !important;
}

label#id-3 span {
    color: #ffcd50 !important;
}

label#id-4 span {
    color: #f96b6c !important;
}

.list-1 {
    background-color: #6e8e6a !important;
    transition: 0.3s;
}
.list-2 {
    background-color: #5e7aa4 !important;
    transition: 0.3s;
}
.list-3 {
    background-color: #917c4e !important;
    transition: 0.3s;
}
.list-4 {
    background-color: #92505e !important;
    transition: 0.3s;
}

.list-item:hover .list-1.session-listitem, .list-item.hover .list-1.session-listitem {
    background: #91b98c !important;
}
.list-item:hover .list-1.list-item-btn, .list-item.hover .list-1.list-item-btn {
    background: #91b98c !important;
}

.list-item:hover .list-2.session-listitem, .list-item.hover .list-2.session-listitem {
    background: #7495c7  !important;
}
.list-item:hover .list-2.list-item-btn, .list-item.hover .list-2.list-item-btn {
    background: #7495c7 !important;
}

.list-item:hover .list-3.session-listitem, .list-item.hover .list-3.session-listitem {
    background: #bba167  !important;
}
.list-item:hover .list-3.list-item-btn, .list-item.hover .list-3.list-item-btn {
    background: #bba167 !important;
}

.list-item:hover .list-4.session-listitem, .list-item.hover .list-4.session-listitem {
    background: #b36374  !important;
}
.list-item:hover .list-4.list-item-btn, .list-item.hover .list-4.list-item-btn {
    background: #b36374 !important;
}

.list-1.session-listitem {
    background-color: #6e8e6a !important;
}

.session-info {
    cursor: pointer;
    color: #fff;
    border: 1px solid white;
    padding: 3px 6px;
    font-size: 9px;
    border-radius: 50%;
}

.list-item {
    padding: 0px;
    border-radius: 3px;
    /*margin-bottom: 10px;*/
    color: #fff;
    width: 100%;
    display: inline-block;
}

.list-item-btn {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #fff;
    width: 6%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


.list-item-btn span {
    font-size: 14px;
}
.left-list-badge-icon {
    font-size: 20px;
}

.el-badge.item {
    padding-left: 20px;
}

.el-badge__content.is-fixed {
    left: -3px !important;
}

.el-badge__content {
    background-color: #83b4ff !important;
    color: #15254b !important;
    font-size: 9px !important;
    height: 16px !important;
    width: 16px !important;
    padding: 0 !important;
    border: none !important;
}

.el-input__inner {
    border: 1px solid rgba(220, 223, 230, 0.35) !important;
}

button.el-button.plain {
    border: 1px solid rgba(220, 223, 230, 0.35) !important;
    background-color: transparent !important;
}

span.dbl-border.el-avatar.el-avatar--circle {
    border-radius: 50% !important;
    /* border: 1px solid #fff; */
    /* box-shadow: 0 0 0 4px #817dd1, 0 0 0 4px #b551a9; */
    box-shadow: 0 0 0 5px #293f5d, 0 0 0 6px #9ecaff !important;
}



/*right column*/

.right-detail-header {
    color: #9ecaff;
    font-size: 30px !important;
    margin-top: 15px;
    display: inline-block;
}

.right-detail-sub {
    display: inline-block;
    color: rgba(255, 255, 255, 0.77);
    padding: 13px 0 0 0;
}

.right-detail-btnprofile {
    cursor: pointer;
    display: inline-block;
    color: #9ecaff;
    border: 2px solid #9ecaff;
    padding: 2px 8px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    margin-top: 20px;
    position: absolute;
    margin-left: 16px;
    transition: 0.3s;
}

.right-detail-btnprofile:hover {
    color: #bfdcff;
    border-color: #bfdcff;
}

.right-list-container {
    display: inline-block;
    width: 80%;
    padding: 15px 0 25px;
}

.btn-buy-session {
    background-color: transparent !important;
    color: #9ecaff !important;
    border-color: #9ecaff !important;
}

.session-listitem {
    padding: 10px;
    width: 90%;
    display: inline-block;
    border-radius: 3px;
}

.el-checkbox:last-of-type {
    margin-right: 21px !important;
    padding: 20px 0 15px !important;
}

.session-list-time {
    font-size: 14px;
    margin-left: 40px;
    margin-right: 10px;

}

span.session-list-avatar.el-avatar.el-avatar--circle {
    height: 22px !important;
    width: 22px !important;
    line-height: 22px !important;
    position: absolute !important;
    margin-top: -3px !important;
    margin-left: 11px !important;
}

/*dialog*/

.el-dialog__header, .el-dialog__footer {
    background-color: #55769a;
    text-align: center;
}

.el-dialog__title {
    color: #fff !important;
}

.el-dialog__body {
    padding: 30px 40px !important;
    /*color: #606266;*/
    /*font-size: 14px;*/
    /*word-break: break-all;*/
    color: #fff !important;
    background-color: #4a6a8e !important;
}

span.demonstration {
    color: #fff !important;
}
.el-date-editor.el-range-editor.el-input__inner.el-date-editor--daterange.el-range-editor--mini {
    background-color: transparent;
    border: none !important;
}

input.el-range-input {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 14px !important;
}

.icon-info {
    display: inline-block;
    border: 1px solid #9ecaff;
    border-radius: 50%;
    padding: 2px 8px;
    color: #9ecaff;
}

.el-dialog__title {
    line-height: 24px !important;
}

.list-item {
    cursor: pointer;
}
/*.list-1.list-item:hover {*/
/*    background-color: #91b98c !important;*/
/*}*/

/*.list-2.list-item:hover {*/
/*    background-color: #7495c7 !important;*/
/*}*/

/*.list-3.list-item:hover {*/
/*    background-color: #bba167 !important;*/
/*}*/

/*.list-4.list-item:hover {*/
/*    background-color: #b36374 !important;*/
/*}*/

.el-date-editor .el-range-input {
    width: 25% !important;
}
.el-range-separator {
    color: #fff !important;
}

/*filter*/
.filter-blocks.el-col.el-col-24 {
    padding: 10px 0;
}

.el-checkbox-button:first-child .el-checkbox-button__inner {
    /*border-radius: 4px !important;*/
    /*margin-right: 5px !important;*/
}

span.filter-title {
    color: rgba(255, 255, 255, 0.62);
    margin-bottom: 10px;
    display: block;
}

/*global*/
.btn-default > span.el-checkbox-button__inner {
    background-color: transparent !important;
    color: #fff !important;
    border-color: rgba(255, 255, 255, 0.25) !important;
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
    color: #FFF;
    background-color: #409EFF;
    border-color: #9ecaff !important;
    box-shadow: -1px 0 0 0 #8cc5ff !important;
}

.input-default > .el-input__inner {
    background-color: transparent !important;
    color: #fff !important;
}


.el-checkbox-button{
    display: inline-block;
    position: relative;
    /*margin-left: 5px !important;*/
    border-radius: 4px !important;
    /* border: 1px solid white; */
}

label.el-checkbox.filter-checkbox.is-bordered {
    padding: 6px 20px 9px 10px !important;
    color: #fff !important;
    margin-right: 10px !important;
    border-color: rgba(255, 255, 255, 0.25) !important;
}

label.el-checkbox.filter-checkbox.is-bordered.is-checked {
    border-color: #9ecaff !important;

}

label.el-checkbox.filter-checkbox.is-bordered.is-checked > .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #fff !important;
}

label.el-checkbox.filter-checkbox.is-bordered span.el-checkbox__inner {
    display: none !important;
}

.el-carousel__item {
    /*width: 200px !important;*/
    display: inline-block;
    /* overflow: hidden; */
    z-index: 0;
}




/*.scrolling-wrapper {*/
/*    overflow-x: scroll;*/
/*    overflow-y: hidden;*/
/*    white-space: nowrap;*/
/*}*/
/*.card {*/
/*    display: inline-block;*/
/*}*/


/*.scrolling-wrapper-flexbox {*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    overflow-x: auto;*/
/*}*/
/*.card {*/
/*    flex: 0 0 auto;*/
/*    margin-right: 3px;*/
/*}*/


/*.card {*/
/*    border: 2px solid red;*/
/*    width: 150px;*/
/*    height: 75px;*/
/*    background: black;*/
/*}*/

/*.scrolling-wrapper, .scrolling-wrapper-flexbox {*/
/*    height: 80px;*/
/*    margin-bottom: 20px;*/
/*    width: 100%;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/
/*::-webkit-scrollbar {*/
/*     display: none;*/
/* }*/



/*.scrolling-wrapper {*/
/*    background: #eee;*/
/*    padding: 20px 15px 20px;*/
/*    margin: 0 37px;*/
/*    !* Make this scrollable when needed *!*/
/*    overflow-x: auto;*/
/*    !* We don't want vertical scrolling *!*/
/*    overflow-y: hidden;*/
/*    !* Make an auto-hiding scroller for the 3 people using a IE *!*/
/*    -ms-overflow-style: -ms-autohiding-scrollbar;*/
/*    !* For WebKit implementations, provide inertia scrolling *!*/
/*    -webkit-overflow-scrolling: touch;*/
/*    !* We don't want internal inline elements to wrap *!*/
/*    white-space: nowrap;*/
/*    !* Remove the default scrollbar for WebKit implementations *!*/
/*}*/
/*.scrolling-wrapper::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/


.cata-sub-nav {
    /*background: #eee;*/
    padding: 20px 15px 20px;
    margin: 0 37px;
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* Remove the default scrollbar for WebKit implementations */
}
.cata-sub-nav::-webkit-scrollbar {
    display: none;
}

.arrow{
    background: transparent;
}
.nav-prev {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0px;
    margin-top: 8px;
    cursor: pointer;
    z-index: 99 !important;
}
.nav-next {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    margin-top: -22px;
    cursor: pointer;
    z-index: 99 !important;
}

.el-popover {
    background: #55769a !important;
    border: 1px solid #55769a !important;
}

.el-popper[x-placement^=top] .popper__arrow::after {
    border-top-color: #55769a !important;
}
.el-popper[x-placement^=top] .popper__arrow {
    border-top-color: #55769a !important;
}


.info-sub {
    color:rgba(255, 255, 255, 0.62);
}

.info-head {
    color:#fff;
    font-weight: bold;
    padding-bottom: 10px;
}
